In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
file=pd.read_csv(r'C:\machine learning\Datasets\homeprices.csv')
file.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
f1=file.isnull()
f1

    area  bedrooms    age  price
0  False     False  False  False
1  False     False  False  False
2  False      True  False  False
3  False     False  False  False
4  False     False  False  False
5  False     False  False  False

In [6]:
file.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [7]:
file.bedrooms.median()

4.0

In [8]:
f1=file.fillna(file.bedrooms.median())
f1

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
x=f1.drop(['price'],axis=1)
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [11]:
y=f1.price
y

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [12]:
from sklearn.linear_model import LinearRegression

reg=LinearRegression()
reg.fit(x,y)

LinearRegression()

In [13]:
reg.score(x,y)

0.9550196399325818

In [14]:
reg.predict([[3200,4,18]])

C:\Users\bloomcomputer.com\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([615307.4140366])

In [16]:
reg.predict([[4000,5,8]])

C:\Users\bloomcomputer.com\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([760663.42675457])

In [2]:
file=pd.read_csv(r'C:\machine learning\Datasets\iris.csv')
file.head(200)

NameError: name 'pd' is not defined

In [23]:
from sklearn.preprocessing import LabelEncoder

label=LabelEncoder()
file.variety=label.fit_transform(file.variety)
file

     sepal_length  sepal_width  petal_length  petal_width  variety
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [25]:
x=file.drop(['variety'],axis=1)
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [26]:
y=file.variety
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: variety, Length: 150, dtype: int64

In [27]:
from sklearn.linear_model import LinearRegression

reg=LinearRegression()
reg.fit(x,y)

LinearRegression()

In [28]:
reg.score(x,y)

0.9303939218549564

In [32]:
reg.predict([[5.1,3.5,1.4,0.2]])

C:\Users\bloomcomputer.com\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-0.08254936])

In [33]:
reg.predict([[6.7,3.0,5.2,2.3]])

C:\Users\bloomcomputer.com\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1.90672143])